$background = white

mobile()
  @media screen and (max-width: 720px)
    {block}

desktop()
  @media screen and (min-width: 720px)
    {block}

+desktop()
  .mobile
    display: none!important

.desktop
  +mobile()
    display: none!important


body
  background: $background
  position: absolute
  margin: 0
  height: 100%
  width: 100%
  text-align: center
  overflow-x: hidden

*
  box-sizing: border-box

a, a:visited
  text-decoration: inherit
  color: inherit


header
  --mdc-theme-on-primary: #5f6368

  background-color: $background!important
  border-bottom: 1px solid #dadce0

  & > div
    display: inline-block
  
  .disabled, [disabled]
    opacity: .3
    pointer-events: none
  
  section.mdc-top-app-bar__section
    flex: 0 0 auto
  
  section.mdc-top-app-bar__section.search-input
    padding: 0
    flex: 1 1 auto
    justify-content: center

    .mdc-text-field
      width: 100%
      max-width: 600px

      @media (max-width: 1050px)
        display: none

  .search-button
    @media (min-width: 1050px)
      display: none

#app
  display: inline-block
  padding: 0 1em
  height: 100%
  width: 100%
  text-align: left

  max-width: 800px

  padding-top: 5em

  .settings-root
    .mdc-card
      padding: 1em
      margin-top: 1em

    .card-header
      margin-bottom: 1em
      position: relative

    .mdc-switch.right-switch
      position: absolute
      margin-top: .5em
      right: 0
  
  .editor-root
    height: 100%

    .CodeMirror
      font-family: 'Roboto Mono', monospace
      font-size: .9em
      height: 99%

      +mobile()
        font-size: .5em

.tree-root > div > .node-wrapper:first-child
  & > .node-children
    border-left: none
    padding-left: 0
    margin-left: 0


// Node

.node-wrapper
  position: relative
  border-radius: .3em
  transition: all .1s ease-in-out
  margin-bottom: -0.3em

  // Node

  &.active
    background: #eee
  
  &.selected
    background: red
  
  &.no-match
    display: none
  &.partial-match > .node-content-line
    opacity: .6
    
  &.focused > .node-content-line > .node-content
    & > .node-display
      display: none

    & > .node-edit
      display: inherit
  
  .node-edit
    display: none
  
  .node-content-line
    display: flex

  .node-content
    display: inline-block
    flex-grow: 100
    margin-top: .5em
  

  // Bullet

  $inner-diameter = 9px

  .node-bullet
    $diameter = $inner-diameter * 3

    width: $diameter
    height: $diameter
    border-radius: $diameter
    background: transparent
    margin: .5em .3em
    cursor: pointer

    &:hover
      background: #ddd

  .node-inner-bullet
    $diameter = $inner-diameter
  
    width: $diameter
    height: $diameter
    border-radius: $diameter
    background: #aaa

    margin: $inner-diameter


  // Children

  .node-children
    border-left: solid #eee 1px
    display: block
    margin-left: 1.05em
    margin-top: 0
    padding-left: 1em


  // Render

  .node-display::before
    content: "\200B"

  .node-content, .CodeMirror
    font-family: Sarabun, sans-serif
    font-size: 18px
    color: #111


  // Editor

  .CodeMirror
    background: transparent
    height: auto

  .CodeMirror-lines, .CodeMirror pre
    padding: 0
