@import 'styles/common.styl'

.mobile
  +desktop()
    display: none!important

.desktop
  +mobile()
    display: none!important


body
  background: var(--background)
  color: var(--foreground)
  position: absolute
  margin: 0
  height: 100%
  width: 100%
  text-align: center
  overflow-x: hidden

*
  box-sizing: border-box

a, a:visited
  text-decoration: inherit
  color: inherit

#header, #app
  text-align: left

#app
  display: inline-block
  height: 100%
  width: 100%

  max-width: 800px

  padding: 0 1em
  padding-top: 5em
