@import 'common.styl'

.editor-root
  height: 100%
  padding-top: 3em

  .CodeMirror
    font-family: 'Roboto Mono', monospace
    font-size: .9em
    height: 99%

    +mobile()
      font-size: .5em
