@import 'common.styl'

.settings-root
  .mdc-card
    padding: 1em
    margin-top: 1em

  .card-header
    margin-bottom: 1em
    position: relative

  .mdc-switch.right-switch
    position: absolute
    margin-top: .5em
    right: 0
