@import 'common.styl'

.tree-root
  & > .zoom > .node-wrapper:first-child
    & > .node-border
      display: none

    & > .node-content-line
      margin-bottom: 1em

      & > .node-bullet
        display: none

      & > .node-content, .CodeMirror
        font-size: 24px

  & > div > .node-wrapper:first-child > .node-children
    padding-left: 0
    margin-left: 0


.node-wrapper
  position: relative
  border-radius: .3em
  transition: all .1s ease-in-out
  margin-bottom: -0.3em

  // Node

  &.active
    background: var(--bg-accent)

  &.selected
    user-select: none

    & > .node-content-line > .node-bullet
      background: black

  &.no-match
    display: none
  &.partial-match > .node-content-line
    opacity: .6

  &.focused > .node-content-line > .node-content
    & > .node-display
      display: none

    & > .node-edit
      display: inherit

  .node-edit
    display: none

  .node-content-line
    display: flex

  .node-content
    display: inline-block
    flex-grow: 100
    margin: .5em 0


  // Bullet

  $inner-diameter = 9px

  .node-bullet
    $diameter = $inner-diameter * 3

    width: $diameter
    height: $diameter
    border-radius: $diameter
    background: transparent
    margin: .5em .3em
    cursor: pointer

    &:hover
      background: var(--dim-accent)

  .node-inner-bullet
    $diameter = $inner-diameter

    width: $diameter
    height: $diameter
    border-radius: $diameter
    background: var(--accent)

    margin: $inner-diameter


  // Children

  box-sizing: border-box
  padding-bottom: 0

  .node-children
    display: block
    margin-left: 1.05em
    margin-top: -.5em
    padding-left: 1em

  .node-border
    border-left: solid var(--dim-accent) 1px
    top: 2.2em
    height: calc(100% - 2.4em)
    width: 1px
    left: 1.1em
    position: absolute

  &.no-children
    .node-border, .node-children
      display: none



  // Render

  .node-display
    code
      background: var(--dim-accent)
      border-radius: .2em
      padding: .1em .3em
      font-family: $monospace
      font-size: .9em

  .node-display::before
    content: "\200B"

  .node-content, .CodeMirror
    font-family: $sans-serif
    font-size: 18px
    color: var(--foreground)


  // Editor

  .CodeMirror
    background: transparent
    height: auto

  .CodeMirror-lines, .CodeMirror pre
    padding: 0

body.dark
  .CodeMirror-cursor
    border-left: 1px solid var(--accent)
